# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
# Ignore CMake build artifacts
android/app/.cxx/**

# Ignore specific temporary files
android/app/.cxx/**/android_gradle_build.json
android/app/.cxx/**/android_gradle_build_mini.json
android/app/.cxx/**/configure_fingerprint.bin
android/app/.cxx/**/hash_key.txt
android/app/.cxx/**/metadata_generation_command.txt
android/app/.cxx/**/prefab_config.json
android/app/.cxx/**/index-*.json
android/app/.cxx/**/codemodel-v2*
